<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://27.17.30.245:2800/download/huachuang_crm.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/HAOYEE/Dev_Folder/master/crm_huachuang/large.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/HAOYEE/Dev_Folder/master/crm_huachuang/small.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>Inhouse.apexsoft.huachuang.CRMForHuachuang</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>by 郝鎏洋</string>
				<key>title</key>
				<string>华创移动CRM for iOS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
